
.FullWidth {
    width: 100%;
}

.TextInput {
    width: 50%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    color: #fff;
    padding: 7px 0;
    margin: 0 7px;
    background: transparent;
    font-size: 0.65em;
}

.SubmitButton {
    color: #fff;
    background-color: transparent;
    border: 2px solid;
    padding: 0.5em 2em;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}